Repository acpaquette/SpiceQL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-openApi, update-stacks, update-image

update-openApi:
  stage: deploy
  tags:
  - deploy
  image:
    name: $CI_REGISTRY/usgs-chs/chs-library/docker/images/docker:latest
  dependencies: []
  before_script:
  - apk add --no-cache curl jq python3 py3-pip
  - pip install awscli
  script:
  - aws s3 cp aws/openapi.yml s3://spiceql-openapi-files
  ...

update-stacks:
  stage: deploy
  tags:
  - deploy
  image:
    name: $CI_REGISTRY/usgs-chs/chs-library/docker/images/docker:latest
  dependencies: []
  before_script:
  - apk add --no-cache curl jq python3 py3-pip
  - pip install awscli
  script:
  ...

update-image:
  stage: deploy
  tags:
  - deploy
  dependencies: []
  variables:
    IMAGEURI: 950438895271.dkr.ecr.us-west-2.amazonaws.com/spiceql:latest
    REGION: us-west-2
  ...

Fixes Lambda to lambda
  .gitlab-ci.yml
Due: update-image

Changed frameTrace AWS lambda arg from ets to et
  aws/openapi.yml
Due: update-openApi, update-image

Set elastic cache parameter group
  aws/SpiceQlMainStack.yml
Due: update-stacks, update-image

Changed AWS redis cluster to replication group
  aws/SpiceQlMainStack.yml
Due: update-stacks, update-image

Added description to ReplicationGroup
  aws/SpiceQlMainStack.yml
Due: update-stacks, update-image

Reverted FrameTraceLambda name change
  aws/SpiceQLambdaStack.yml
Due: update-stacks, update-image

Updated Redis host and enabled redis for all endpoints
  aws/SpiceQLambdaStack.yml
  aws/SpiceQlMainStack.yml
Due: update-stacks, update-image

Fixed redis cluster address acquisition
  aws/SpiceQlMainStack.yml
Due: update-stacks, update-image

Increased elasticache resources
  aws/SpiceQlMainStack.yml
Due: update-stacks, update-image

Updated frameTrace lambda with more resources
  aws/SpiceQLambdaStack.yml
  aws/SpiceQlMainStack.yml
Due: update-stacks, update-image

Updated apigateway id
  .gitlab-ci.yml
Due: update-image

Upped resources for getTargetStates/Orientations endpoints
  aws/SpiceQLambdaStack.yml
Due: update-stacks, update-image

Fixed getTargetOrientations arguments
  SpiceQL/include/utils.h
Due: none

Allowed arrays for ets
  aws/openapi.yml
Due: update-openApi, update-image

Removed ability to pass single values
  aws/openapi.yml
Due: update-openApi, update-image

random bug fixes, added et2utc
  .gitignore
  SpiceQL/include/memo.h
  SpiceQL/include/spice_types.h
  SpiceQL/src/query.cpp
  SpiceQL/src/spice_types.cpp
  SpiceQL/src/spiceql.cpp
  SpiceQL/src/utils.cpp
  bindings/python/spice_types.i
  bindings/python/utils.i
  scripts/listKernelsInDir.py
  tutorials/visualization.ipynb
Due: none

Add unified kernel search/refinement
  SpiceQL/include/query.h
  SpiceQL/include/spice_types.h
  SpiceQL/include/utils.h
  SpiceQL/src/query.cpp
  SpiceQL/src/spice_types.cpp
  SpiceQL/src/utils.cpp
  SpiceQL/tests/FunctionalTestsSpiceQueries.cpp
  SpiceQL/tests/KernelTests.cpp
  SpiceQL/tests/UtilTests.cpp
  aws/SpiceQLambdaStack.yml
  docker-compose.yml
Due: update-stacks, update-image

Fixed compile errors
  SpiceQL/src/utils.cpp
Due: none

Swapped Quality comments
  SpiceQL/include/spice_types.h
Due: none

Moved kernel selection timing into searchAndRefineKernels
  SpiceQL/src/query.cpp
  SpiceQL/src/utils.cpp
Due: none

Fixed chrono include
  SpiceQL/src/query.cpp
Due: none

Added chrono namespace
  SpiceQL/src/query.cpp
Due: none

Change exactCKTimes doc string to use segment instead of record
  SpiceQL/include/utils.h
Due: none

Exposes exact ck times function
  aws/SpiceQLambdaStack.yml
  aws/lambda_function.py
  aws/openapi.yml
Due: update-openApi, update-stacks, update-image

Fixes juno and mro configs
  SpiceQL/db/juno.json
  SpiceQL/db/mro.json
Due: none

Fix kaguya json
  SpiceQL/db/kaguya.json
Due: none

Change ck cell size by 2x and spk cells by 4x
  SpiceQL/src/utils.cpp
Due: none

Handled no av case properly when getting orientations
  SpiceQL/src/utils.cpp
Due: none

Changed room to 100 for gnpool
  SpiceQL/src/utils.cpp
Due: none

Fix linking against curl
  CMakeLists.txt
Due: none

Add curl as a direct dependency and move RESTinCurl stuff around
  CMakeLists.txt
Due: none

Change curl to an interface
  CMakeLists.txt
Due: none

Linked curl through exported target rather than library
  CMakeLists.txt
Due: none

Initial stub to convert json2DArrayTo2DVector into a template function
  SpiceQL/include/utils.h
  SpiceQL/src/query.cpp
  SpiceQL/src/utils.cpp
  SpiceQL/tests/UtilTests.cpp
Due: none

Convert all uses of json2DArrayTo2DVector to template
  SpiceQL/include/utils.h
  SpiceQL/src/api.cpp
  SpiceQL/src/utils.cpp
Due: none

Path conditions:
  update-openApi: any of: aws/openapi.yml
  update-stacks: any of: aws/SpiceQlMainStack.yml, aws/SpiceQLambdaStack.yml
  update-image: any of: .gitlab-ci.yml, SpiceQL/*, aws/*
